body{
    background-color: rgb(230, 230, 255) ;
    color: rgb(64,64,64);
}
h1{
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    font-family:inherit;
}
p{padding-left: 15em;
padding-right: 15em;
    font-size: large;
    line-height: 1.5;    
}
img{display: block;
margin:auto;}